:root{
    --font-color:#C0C4CC;
    --font-blue-light:#778094;
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{
    margin:0;
    padding:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

html,body{
    width: 100%;
    height: 100%;
    background-color:#16191D;
    font-family: "Microsoft YaHei";
    user-select:none;
}

.clearFix::after{
     content:'';
     display: block;
     clear: both;
 }

#wb{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#sign-wb-bg{
    position: absolute;
    width: 400px;
    height: 100%;
    left: 680px;
    background: rgba(22, 25, 29, 0.01);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    overflow:hidden;
}
#font-wb{
    position: absolute;
    top:50vh;
    left: 10px;
    transform: translate(0,-55%);
}
#bgf-2048{
    position: absolute;
    width: 1348px;
    height: 840px;
    left: -410px;
    top: 50vh;
    transform: translate(0,-80%);
    background-image: url("../images/2048.svg");
}
#big-font-wb{


}
#bf-svg-font {
    font-family: "Microsoft YaHei&quot";
    font-weight: bolder;
    width: 827px;
    height: 191px;
}

#font-wb h4{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: var(--font-color);
    margin-top: 56px;
}
#system-wb{
    color: var(--font-color);
    font-size: 14px;
    margin-top: 23px;
}
#lBox {
    float: left;
    width: 8px;
    height: 41px;
    background: var(--font-color);
    margin-right: 10px;
}
#zBox{
    float: left;
    font-size: 13px;
}
#zBox h5{
    margin-top: 5px;
    font-width: normal;
    font-size: 14px;
}
#sysBox{
    margin-top: 5px;
    font-weight: 100;
}
#sysBox .icon-success {
    width: 13px;
    height: 13px;
    margin-right: 2px;
}
.icon-success{
    display: inline-block;
    vertical-align:middle;
    background-image: url("../images/success.svg");
    background-repeat: no-repeat;
}


#sBox{
    color: var(--font-blue-light);
    font-size: 12px;
    line-height: 18px;
    font-weight: 100;
    margin-top: 29px;
}
#bgm-wb{
    width: 100%;
    height: 100%;
    overflow:hidden;
    position: absolute;
}
.bgm{
    border-radius: 50%;
    position: absolute;
}
#bgm-wb > .bgm.blue-c{
    width: 71vw;
    height:71vw;
    left: -17.8vw;
    top: -37.7vw;
    filter: blur(17.5vw);
}
#bgm-wb > .bgm.orange-c{
    width: 47.5vw;
    height: 47.5vw;
    right:-23.75vw;
    top: -23.75vw;
    filter: blur(17.5vw);
}
.blue-c{
    background-color: rgba(103, 173, 255, 0.15);
}
.orange-c{
    background-color: rgba(255, 193, 136, 0.2);
}

#sign-wb-bg > .bgm.blue-c{
    width: 47.8vw;
    height: 47.8vw;
    left: -31.3vw;
    top: -17.2vw;
    filter: blur(21.8vw);
}
#sign-wb-bg > .bgm.orange-c{
    width: 50vw;
    height: 50vw;
    right: -43vw;
    bottom: -34vw;
    filter: blur(17.5vw);
}
text {
    fill: url(#pattern);
    /*fill: url("../images/testimage.png");*/
}
#mask-color1{
    background-image: url("../images/testimage.png");
    width: 400px;
    height: 400px;
    position: absolute;
    display: block;
}